<template>
  <div class="song">
    <div class="song__container px-5 max-w-7xl">
      <div>
        <span
          v-html="titleAndSinger"
        />
      </div>
      <br>
      <div
        class="song__tags-block"
      >
        ТЕГИ:
        <br>
        <div
          class="song__tags"
        >
          <span
            v-for="(tag, indx) in songTags"
            :key="indx"
          >
            <b>{{ tag }}</b>
          </span>
        </div>
      </div>
      <br>
      <img
        :src="currentSongImage"
        alt="song image"
        width="200"
      >
      <br>
      <Player
        :song="currentSong"
      />
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: "song",
  components: {
    Player: () => import('@/components/Player.vue'),
  },
  async asyncData({ params, store }) {
    await Promise.all([
      store.dispatch('songs/getSongInfo', params.id),
      store.dispatch('songs/getSong', params.id),
    ])
  },
  computed: {
    ...mapState({
      CURRENT_SONG: (state) => state.songs.CURRENT_SONG,
      CURRENT_SONG_INFO: (state) => state.songs.CURRENT_SONG_INFO,
    }),
    songInfo() {
      return this.CURRENT_SONG_INFO
    },
    titleAndSinger () {
      return `<b>${this.songInfo.singerNickname || 'unknown'}</b> - ${this.songInfo.title}`
    },
    songTags () {
      return this.songInfo.songTags
    },
    currentSong() {
      return `${this.$axios.defaults.baseURL}/songs/load/${this.$route.params.id}/file`
    },
    currentSongImage() {
      return `${this.$axios.defaults.baseURL}/songs/load/${this.$route.params.id}/image` ||
      '/images/default-image.png'
    }
  },
}
</script>

<style lang="scss" scoped>
.song {
  flex: 1;

  &__container {
    height: calc(100vh - #{$h-Header});
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__tags-block {
    text-align: center;
  }

  &__tags {
    display: flex;
    gap: 10px;
  }
}
</style>
