<template>
  <div class="songs">
    <div class="songs__container px-5 max-w-7xl pt-5">
      <form
        @submit.prevent="searchSongs"
        class="songs__forms-container mb-8"
      >
        <input
          placeholder="поиск по заголовку"
          type="text"
          class="px-1 mb-2.5"
          v-model="title"
        >
        <input
          placeholder="поиск по исполнителю"
          type="text"
          class="px-1 mb-2.5"
          v-model="singerNickname"
        >
        <input
          placeholder="поиск по тэгам"
          type="text"
          class="px-1 mb-2.5"
          v-model="songTag"
        >
        <button
          :disabled="!songTag"
          class="mb-2.5"
          :class="!songTag ? 'bg-gray-300' : 'bg-green-300'"
          @click="addTag"
        >
          Добавить тэг для поиска
        </button>
        <div
          class="tags mb-2.5"
        >
          <span
            v-for="(tag, indx) in songTags"
            :key="indx"
            class="tag"
          >
            {{ tag }}
            <img
              src="@/assets/icons/cross.svg"
              width="20"
              alt="cross icon"
              @click="removeTag(indx)"
            >
          </span>
        </div>
        <button
          :disabled="disabledInput"
          :class="disabledInput ? 'bg-slate-500' : 'bg-lime-500'"
          type="submit"
        >
          Поиск
        </button>
      </form>
        <span
          v-if="errorMessage || !songs.length"
        >
          {{ errorMessage || 'Empty list' }}
        </span>
      <div
        class="songs__list"
        v-else
      >
        <div
          class="songs__item"
          v-for="song in songs"
          :key="song.id"
        >
        <span
          @click="$router.push({path: `/songs/${song.id}`})"
        >
          <span class="font-bold">
            {{ song.singerNickname }}
          </span>
          -
          <span>
            {{ song.title }}
          </span>
        </span>
        <button
          v-show="isAvailable"
          class="bg-amber-300"
          @click="addToAlbum(song.title, song.id)"
        >
          ADD TO ALBUM
        </button>
        </div>
      </div>
    </div>

    <albums-popup
      v-show="showUsersAlbums"
      :title="popupTitle"
      :albums="USER_ALBUMS"
      :song-id="choosedSong"
      @close="closePopup"
    />
  </div>
</template>

<script>
import { mapActions, mapGetters, mapState } from 'vuex'

export default {
  name: 'songs',
  components: {
    AlbumsPopup: () => import('@/components/AlbumsPopup.vue'),
  },
  async asyncData({ store }) {
    const albumId = store.state.albums.CURRENT_ALBUM

    if (albumId) {
      await store.dispatch('songs/setSongsByAlbum', albumId)
      store.commit('albums/setNumberOfAlbum', null)
      return
    }
    await store.dispatch('songs/getSongs')
  },
  components: {
    AlbumsPopup: () => import('@/components/AlbumsPopup.vue'),
  },
  data() {
    return {
      title: '',
      singerNickname: '',
      showUsersAlbums: false,
      songTag: '',
      songTags: [],
      errorMessage: '',
      popupTitle: 'unknown song',
      choosedSong: null
    }
  },
  computed: {
    ...mapState({
      USER_INFO: state => state.USER_INFO,
      USER_ROLE: state => state.USER_ROLE,
      USER_ALBUMS: state => state.USER_ALBUMS
    }),
    isAvailable () {
      return this.USER_ROLE !== 'GUEST' && this.USER_ROLE
    },
    songs() {
      return this.$store.state.songs.SONGS
    },
    disabledInput () {
      return !this.title && !this.singerNickname && !this.songTags
    },
    params () {
      const fields = {
        'title': this.title,
        'singer_nickname': this.singerNickname,
        'tags': this.songTags,
      }

      for (const el in fields) {
        if (!fields[el].length) {
          delete fields[el]
        }
      }

      return fields
    }
  },
  methods: {
    ...mapActions({
      getSongs: 'songs/getSongs'
    }),
    addTag() {
      this.songTags.push(this.songTag)
      this.songTag = ''
    },
    removeTag(indx) {
      this.songTags.splice(indx, 1);
    },
    addToAlbum (songTitle, songId) {
      this.choosedSong = songId
      this.popupTitle = `add ${songTitle} into one of this albums`
      this.showUsersAlbums = !this.showUsersAlbums
      return
    },
    closePopup() {
      this.showUsersAlbums = false
    },
    async searchSongs() {
      const {data, status} = await this.$store.dispatch('songs/getSongs', this.params)
      if (status !== 200) {
        this.errorMessage = data.error
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.songs {
  flex: 1;

  &__container {
    height: calc(100vh - #{$h-Header});
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
  }

  &__forms-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__filter {

  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__item {
    cursor: pointer;
  }
}

.tags {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.tag {
  display: flex;
  align-items: center;
  gap: 10px;

  img {
    cursor: pointer;
  }
}
</style>
