@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

@function toRem($size) {
  $val: strip-unit($size);
  @return $val / 16 * 1rem;
}
