<template>
  <div class="header bg-slate-500">
    <div class="header__container px-5 max-w-7xl">
      <div class="header__left-content">
        <div class="header__logo">
          <nuxt-link
            to="/"
          >
            Spotylike
          </nuxt-link>
        </div>
        <div
          class="ml-4"
        >
          <nuxt-link
            v-for="(tab, indx) in navTabs"
            :key="indx"
            :to="tab.to"
            class="mr-4"
          >
            {{ tab.text }}
          </nuxt-link>
        </div>
      </div>
      <div
        v-if="!isLogined"
        class="header__auth-btns"
      >
        <nuxt-link
          to="/login"
          class="mr-4"
        >
          Login
        </nuxt-link>
        <nuxt-link
          to="/register"
        >
          Register
        </nuxt-link>
      </div>
      <div
        v-else
        class="header__auth-btns"
      >
        <nuxt-link
          to="/profile"
          class="mr-4"
        >
          Profile
        </nuxt-link>
        <button
          @click="logoutUser"
        >
          log out
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'Header',
  computed: {
    ...mapState({
      USER_ROLE: state => state.USER_ROLE,
    }),
    isLogined () {
      return this.USER_ROLE !== 'GUEST' && this.USER_ROLE
    },
    navTabs () {
      return [
        {
          to: '/songs',
          text: 'Songs'
        },
        {
          to: '/albums',
          text: 'Albums'
        },
        {
          to: '/users',
          text: 'Users'
        }
      ]
    }
  },
  methods: {
    logoutUser() {
      this.$store.dispatch('logout')
    }
  }
}
</script>

<style lang="scss" scoped>
.header {
  height: $h-Header;

  &__container {
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__left-content {
    display: flex;
    align-items: center;
  }
}
</style>
