<template>
  <div
    class="albums-popup">
    <div
      class="albums-popup__content bg-white p-5 m-9 shadow-2xl"
    >
      <div class="albums-popup__heading">
        <span>
          <b>{{ title }}</b>
        </span>
        <img
          src="@/assets/icons/cross.svg"
          width="20"
          alt="close icon"
          class="albums-popup__close-icon"
          @click="$emit('close')"
        >
      </div>
      <div class="albums-popup__body pt-5 px-5">
        <div
          v-if="songsList"
          class="albums-popup__items"
        >
          <div
            v-for="song in songsList"
            :key="song.id"
            class="albums-popup__item">
            <span>
              {{ `${song.id}: ${song.singerNickname} - ${song.title}` }}
            </span>
            -
            <button
              class="bg-red-500"
              @click="removeFromAlbum(song.id, song.title)"
            >
              REMOVE FROM ALBUM
            </button>
          </div>
        </div>
        <div
          v-else-if="albumsList"
          class="albums-popup__items"
        >
          <div
            v-for="album in albumsList"
            :key="album.id"
            class="albums-popup__item"
            @click="addToAlbum(album.id, album.title)"
            >
            <span>
              {{ `${album.id}: ${album.creatorNickname} - ${album.title}` }}
            </span>
          </div>
        </div>
        <span
          v-else
        >
          Empty list
        </span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AlbumsPopup',
  props: {
    title: {
      type: String,
      default: 'unknown album'
    },
    songs: {
      type: Array,
      default: null
    },
    songId: {
      type: Number,
      default: null
    },
    albums: {
      type: Array,
      default: null
    },
    albumId: {
      type: Number,
      default: null
    }
  },
  computed: {
    songsList() {
      return this.songs
    },
    albumsList() {
      return this.albums
    },
  },
  methods: {
    async addToAlbum(albumId, albumTitle) {
      const { data, status } = await this.$api.addSongToAlbum(albumId, this.songId)
      if (status !== 200) {
        alert(data.error)
        return
      }
      alert(`song ${albumTitle} successfully added`)
      this.$emit('close')
    },
    async removeFromAlbum(songId, songTitle) {
      const { data, status } = await this.$api.removeSongFromAlbum(this.albumId, songId)
      if (status !== 200) {
        alert(data.error)
        return
      }
      this.$emit('updateAlbumsInfo')
      alert(`${songTitle} has already removed from album`)
    }
  }
}
</script>

<style lang="scss" scoped>
.albums-popup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 20;
  height: 100vh;
  width: 100vw;
  background: rgba($color: #000000, $alpha: .3);

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 80vw;
    max-width: 800px;
    max-height: 50vh;
    top: 20vh;
    left: 46%;
    transform: translate(-50%, 20%);
  }

  &__heading {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__close-icon {
    cursor: pointer;
  }

  &__items {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  &__item {
    cursor: pointer;
  }
}
</style>
