<template>
  <div>
    <audio
      class="player"
      controls
      >
        <source :src="songFile" type="audio/mp3">
    </audio>
  </div>
</template>

<script>
export default {
  name: 'Player',
  props: {
    song: {
      default: ''
    }
  },
  computed: {
    songFile() {
      return this.song || '/songs/default.mp3'
    }
  }
}
</script>

<style lang="scss" scoped>
.player {

}
</style>
