<template>
  <div class="albums">
    <div class="albums__container px-5 max-w-7xl pt-5">
      <form
        @submit.prevent="searchAlbums"
        class="albums__forms-container mb-8"
      >
        <input
          placeholder="Заголовок альбома"
          type="text"
          class="px-1 mb-2.5"
          v-model="title"
        >
        <input
          placeholder="Создатель альбома"
          type="text"
          class="px-1 mb-2.5"
          v-model="creatorNickname"
        >
        <button
          :disabled="disabledInput"
          :class="disabledInput ? 'bg-slate-500' : 'bg-lime-500'"
          type="submit"
        >
          Поиск
        </button>
      </form>
        <span
          v-if="errorMessage || !albums.length"
        >
          {{ errorMessage || 'Empty list' }}
        </span>
      <div
        class="albums__list"
        v-else
      >
        <div
          class="albums__item"
          v-for="item in albums"
          :key="item.id"
          @click="moveByAlbum(item.id)"
        >
        <span class="font-bold">
          {{ item.creatorNickname }}
        </span>
        -
        <span>
          {{ item.title }}
        </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'Albums',
  async asyncData({ store }) {
    await store.dispatch('albums/getAlbums', '')
  },
  computed: {
    disabledInput () {
      return !this.title && !this.creatorNickname
    },
    albums() {
      return this.$store.state.albums.ALBUMS
    },
    params () {
      const fields = {
        'title': this.title,
        'creatorNickname': this.creatorNickname
      }

      for (const el in fields) {
        if (!fields[el].length) {
          delete fields[el]
        }
      }

      return fields
    }
  },
  data() {
    return {
      title: '',
      creatorNickname: '',
      errorMessage: ''
    }
  },
  methods: {
    ...mapActions({
      getAlbums: 'albums/getAlbums'
    }),
    async moveByAlbum(id) {
      this.$store.commit('albums/setNumberOfAlbum', id)
      await this.$router.push({path:'/songs'})
    },
    async searchAlbums() {
      const {data, status} = await this.$store.dispatch('albums/getAlbums', this.params)
      if (status !== 200) {
        this.errorMessage = data.error
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.albums {
  flex: 1;

  &__container {
    height: calc(100vh - #{$h-Header});
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
  }

  &__forms-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__filter {

  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__item {
    cursor: pointer;
  }
}
</style>
