<template>
  <div class="user">
    <div class="user__container px-5 max-w-7xl pt-5">
      <h2 class="mb-8">
        <b>{{ user }}</b>
      </h2>
      <div
        class="user__info-block"
      >
        <div class="user__albums-block">
          ALBUMS
          <br>
          <br>
          <div
            v-if="!ALBUMS.length"
          >
            NO ALBUMS
          </div>
          <div
            v-else
            class="user__albums-list"
          >
            <div
              v-for="album in ALBUMS"
              :key="album.id"
              class="user__albums-item"
            >
            <span
              @click="moveByAlbum(album.id)"
            >
              {{ album.id }}: <b>{{ album.creatorNickname }}</b> - {{ album.title }}
            </span>
            </div>
          </div>
        </div>
        <div class="user__songs-block">
          SONGS
          <br>
          <br>
          <div
            v-if="!SONGS.length"
          >
            NO SONGS
          </div>
          <div
            v-else
            class="user__songs-list"
          >
            <div
              v-for="song in SONGS"
              :key="song.id"
              class="user__songs-item"
            >
            <span
              @click="moveBySong(song.id)"
            >
              {{ song.id }}: <b>{{ song.singerNickname }}</b> - {{ song.title }}
            </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters } from 'vuex'

export default {
  name: "User",
  async fetch() {
    const nickname = this.$route.params.nickname
    await this.$store.dispatch('users/getUsers', nickname)
    if (nickname) {
      await Promise.all([
        this.$store.dispatch('songs/getSongs', {
          'singer_nickname': nickname
        }),
        this.$store.dispatch('albums/getAlbums', {
          'creatorNickname': nickname
        })
      ])
    }
  },
  computed: {
    ...mapState({
      ALBUMS: state => state.albums.ALBUMS,
      SONGS: state => state.songs.SONGS
    }),
    user() {
      return this.$route.params.nickname
    }
  },
  methods: {
    async moveByAlbum(id) {
      this.$store.commit('albums/setNumberOfAlbum', id)
      await this.$router.push({path:'/songs'})
    },
    moveBySong(id) {
      this.$router.push({path: `/songs/${id}`})
    },
  }
}
</script>

<style lang="scss" scoped>
.user {
  flex: 1;

  &__container {
    height: calc(100vh - #{$h-Header});
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
  }

  &__info-block {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;

    &::after {
      content: '';
      position: absolute;
      display: block;
      height: 100%;
      width: 1px;
      background-color: black;
      top: 0;
      left: 50%;
      right: 50%;
    }
  }

  &__albums-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }

  &__albums-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &__albums-item {
    margin-bottom: 20px;
    cursor: pointer;
  }

  &__songs-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }

  &__songs-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &__songs-item {
    margin-bottom: 20px;
    cursor: pointer;
  }
}
</style>
