<template>
  <div class="users">
    <div class="users__container px-5 max-w-7xl pt-5">
      <form
        @submit.prevent="searchUsers"
        class="users__forms-container mb-8"
      >
        <input
          placeholder="поиск пользователя"
          type="text"
          class="px-1 mb-2.5"
          v-model="searchValue"
        >
        <button
          class="bg-lime-500"
        >
          Поиск
        </button>
      </form>
      <span
        v-if="errorMessage || !users.length"
      >
        {{ errorMessage || 'No Users' }}
      </span>
      <div
        class="users__list"
        v-else
      >
        <div
          class="users__item"
          v-for="user in users"
          :key="user.id"
        >
          <span
            @click="$router.push({path: `/users/${user.nickname}`})"
          >
            <span>
              {{ user.id }}
            </span>
            :
            <span class="font-bold">
              {{ user.nickname }}
            </span>
          </span>
          <button
            v-show="isAdmin"
            @click="removeUser(user.id)"
            class="bg-red-700"
          >
            DELETE
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters, mapState } from 'vuex'

export default {
  name: 'users',
  components: {
  },
  async fetch() {
    await this.$store.dispatch('users/getUsers')
  },
  data() {
    return {
      searchValue: null,
      errorMessage: ''
    }
  },
  computed: {
    ...mapState({
      USER_ROLE: state => state.USER_ROLE,
      USER_INFO: state => state.USER_INFO,
    }),
    isAdmin () {
      return this.USER_ROLE === 'ADMIN' && this.USER_ROLE
    },
    users() {
      return this.$store.state.users.USERS
    }
  },
  methods: {
    ...mapActions({
      getUsers: 'users/getUsers'
    }),
    async searchUsers() {
      const {data, status} = await this.$store.dispatch('users/getUsers', {
        'nickname': this.searchValue
      })
      if (status !== 200) {
        this.errorMessage = data.error
      }
    },
    async removeUser(id) {
      const {data, status} = await this.$api.removeUser(id)
      if (data?.error) {
        alert(data.error)
        return
      }
      if (this.USER_INFO === id) {
        await this.$store.dispatch('logout')
      }
      location.reload()
    },
  }
}
</script>

<style lang="scss" scoped>
.users {
  flex: 1;

  &__container {
    height: calc(100vh - #{$h-Header});
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
  }

  &__forms-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__item {
    cursor: pointer;
  }
}
</style>
