<template>
  <div class="profile">
    <div class="profile__container px-5 max-w-7xl pt-5">
      <h2 class="mb-8">
        <b>{{ userNickname }}</b>
      </h2>

      <div
        class="profile__upload-album mb-9"
      >
        <input type="text" class="px-1" placeholder="title for album" v-model="albumTitle">
        <button
          :disabled="!albumTitle"
          :class="!albumTitle ? 'bg-gray-300' : 'bg-green-300'"
          @click="addAlbum"
        >
          add album
        </button>
      </div>

      <h4 class="mb-8">
        <b>Upload song</b>
      </h4>
      <form
        v-show="isSinger"
        class="profile__upload-forms mb-8"
        @submit.prevent="uploadFile"
      >
        upload audio
        <input type="file" name="fileupload" @change="selectFile" id="fileupload">
        upload image (only .png)
        <input type="file" name="imageupload" @change="selectImage" id="imageupload" accept="image/png">
        <input type="text" class="px-1" placeholder="title" v-model="songTitle">
        <input type="text" class="px-1" placeholder="input tag" v-model="songTag">
        <button
          :disabled="!songTag"
          :class="!songTag ? 'bg-gray-300' : 'bg-green-300'"
          @click="addTag"
        >
          add tag
        </button>
        <div
          class="tags"
        >
          <span
            v-for="(tag, indx) in songTags"
            :key="indx"
            class="tag"
          >
            {{ tag }}
            <img
              src="@/assets/icons/cross.svg"
              width="20"
              alt="cross icon"
              @click="removeTag(indx)"
            >
          </span>
        </div>
        <button
          type="submit"
          :disabled="disableUpload"
          :class="disableUpload ? 'bg-gray-300' : 'bg-green-300'"
        >
          UPLOAD
        </button>
      </form>
      <div
        class="profile__info-block"
      >
        <div class="profile__albums-block">
          ALBUMS
          <br>
          <br>
          <div
            v-if="!USER_ALBUMS.length"
          >
            NO ALBUMS
          </div>
          <div
            v-else
            class="profile__albums-list"
          >
            <div
              v-for="album in USER_ALBUMS"
              :key="album.id"
              class="profile__albums-item"
            >
            <span
              @click="moveByAlbum(album.id)"
            >
              {{ album.id }}: <b>{{ album.creatorNickname }}</b> - {{ album.title }}
            </span>
            <button
              v-show="isAvailable"
              class="bg-amber-300"
              @click="editAlbum(album.id, album.title)"
            >
              EDIT
            </button>
            <button
              v-show="isAvailable"
              class="bg-red-700"
              @click="removeAlbum(album.id)"
            >
              DELETE
            </button>
            </div>
          </div>
        </div>
        <div class="profile__songs-block">
          SONGS
          <br>
          <br>
          <div
            v-if="!USER_SONGS.length"
          >
            NO SONGS
          </div>
          <div
            v-else
            class="profile__songs-list"
          >
            <div
              v-for="song in USER_SONGS"
              :key="song.id"
              class="profile__songs-item"
            >
            <span
              @click="moveBySong(song.id)"
            >
              {{ song.id }}: <b>{{ song.singerNickname }}</b> - {{ song.title }}
            </span>
            <button
              v-show="isAvailable"
              class="bg-amber-300"
              @click="editSong(song.id, song.title, song.songTags)"
            >
              EDIT
            </button>
            <button
              v-show="isAvailable"
              @click="removeSong(song.id)"
              class="bg-red-700"
            >
              DELETE
            </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <albums-popup
      v-show="showAlbumsSongs"
      :title="currentAlbumsTitle"
      :songs="SONGS"
      :album-id="choosedAlbum"
      @close="closePopup"
      @updateAlbumsInfo="updatePopupInfo"
    />
  </div>
</template>

<script>
import { mapState, mapGetters } from 'vuex'

export default {
  name: "Profile",
  async fetch() {
    const { id } = await this.$store.dispatch('getUserInfo')
    await Promise.all([
      this.$store.dispatch('getProfileSongs', id),
      this.$store.dispatch('getProfileAlbums', id)
    ])
  },
  middleware: 'auth',
  components: {
    AlbumsPopup: () => import('@/components/AlbumsPopup.vue'),
  },
  data() {
    return {
      songFile: null,
      songImage: null,
      songTitle: '',
      songTags: [],
      songTag: '',
      albumTitle: '',
      showAlbumsSongs: false,
      currentAlbumsTitle: '',
      choosedAlbum: null
    }
  },
  computed: {
    ...mapState({
      USER_INFO: state => state.USER_INFO,
      USER_SONGS: state => state.USER_SONGS,
      USER_ALBUMS: state => state.USER_ALBUMS,
      USER_ROLE: state => state.USER_ROLE,
      SONGS: state => state.songs.SONGS
    }),
    isAvailable () {
      return this.USER_ROLE !== 'GUEST' && this.USER_ROLE
    },
    isSinger () {
      return this.USER_ROLE !== 'GUEST' && this.USER_ROLE !== 'USER' && this.USER_ROLE
    },
    userNickname() {
      return this.USER_INFO?.nickname || 'anonymous user'
    },
    userId() {
      return this.USER_INFO.id || 0
    },
    disableUpload() {
      return !this.songFile && !this.songTitle && !this.songImage
    }
  },
  methods: {
    async moveByAlbum(id) {
      this.$store.commit('albums/setNumberOfAlbum', id)
      await this.$router.push({path:'/songs'})
    },
    moveBySong(id) {
      this.$router.push({path: `/songs/${id}`})
    },
    async editAlbum(id, title) {
      const { data, status } = await this.$store.dispatch('songs/setSongsByAlbum', id)
      if (data?.error) {
        alert(data?.error || 'ERROR')
        return
      }
      this.choosedAlbum = id
      this.currentAlbumsTitle = title
      this.showAlbumsSongs = true
    },
    async updatePopupInfo() {
      await this.$store.dispatch('getProfileAlbums', this.USER_INFO.id)
    },
    closePopup() {
      this.showAlbumsSongs = false
    },
    async removeAlbum(id) {
      const {status, error} = await this.$api.removeAlbum(id)
      this.$nuxt.refresh()
    },
    async editSong(id, title, songTags) {
      const newTitle = prompt(`Change title`, `${title}`)
      const newTags = prompt(`Change tags`, `${songTags}`)
      if (newTitle) {
        const arrayFromTags = newTags.split(',')
        const { status, error } = await this.$api.updateSong(
          id,
          newTitle,
          arrayFromTags
        )
        if (status !== 200) {
          alert(error)
          return
        }
        this.$store.dispatch('getProfileSongs', this.USER_INFO.id)
        this.$nuxt.refresh()
      }
    },
    async removeSong(id) {
      const {status, error} = await this.$api.removeSong(id)
      this.$nuxt.refresh()
    },
    addTag() {
      this.songTags.push(this.songTag)
      this.songTag = ''
    },
    removeTag(indx) {
      this.songTags.splice(indx, 1);
    },
    selectFile(e) {
      this.songFile = e.target.files[0]
    },
    selectImage(e) {
      this.songImage = e.target.files[0]
    },
    async uploadFile(){
      const formData = new FormData();
      const data = {
        title: this.songTitle,
        songTags: this.songTags,
      }
      const json = JSON.stringify(data);
      const blobJson = new Blob([json], {
        type: 'application/json',
      });
      formData.append('songFile', this.songFile);
      formData.append('songBody', blobJson);
      formData.append('songImage', this.songImage);

      const resp = await this.$api.addSong(formData)
      this.$nuxt.refresh()
    },
    async addAlbum() {
      const { data, status } = await this.$api.addAlbum({
        'title': this.albumTitle
      })
      if(data?.error) {
        alert(data.error)
        return
      }
      this.albumTitle = ''
      this.$nuxt.refresh()
      alert(`album ${this.albumTitle} was successfully added`)
    }
  }
}
</script>

<style lang="scss" scoped>
.profile {
  flex: 1;

  &__container {
    height: calc(100vh - #{$h-Header});
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
  }

  &__upload-album {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  &__upload-forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  &__info-block {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;

    &::after {
      content: '';
      position: absolute;
      display: block;
      height: 100%;
      width: 1px;
      background-color: black;
      top: 0;
      left: 50%;
      right: 50%;
    }
  }

  &__albums-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }

  &__albums-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &__albums-item {
    margin-bottom: 20px;
    cursor: pointer;
  }

  &__songs-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }

  &__songs-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &__songs-item {
    margin-bottom: 20px;
    cursor: pointer;
  }
}

.tags {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.tag {
  display: flex;
  align-items: center;
  gap: 10px;

  img {
    cursor: pointer;
  }
}
</style>
