<template>
  <div class="base-layout">
    <div
      class="base-layout__header"
    >
      <Header />
    </div>
    <main
      class="base-layout__main"
    >
      <div class="base-layout__container">
        <Nuxt />
      </div>
    </main>
  </div>
</template>


<script>
import { AUTH_TOKEN } from '@/lib/constants'

export default {
  name: 'Default',
  components: {
    Header: () => import('@/components/common/Header.vue'),
  },
  async fetch () {
    await this.$store.dispatch('getUserRole')
    const TOKEN = !!this.$cookies.get(AUTH_TOKEN)
    if (!TOKEN) {
      this.$cookies.set(AUTH_TOKEN, this.$store.state.AUTH_TOKEN)
    }
  },
}
</script>

<style lang="scss">
input {
  border: 1px solid black;
  border-radius: 4px;
}
</style>

<style lang="scss" scoped>
.base-layout {
  $root: &;

  display: flex;
  flex-direction: column;
  min-height: 100vh;

  a {
    display: inline-block;
  }

  &__header {
    position: fixed;
    width: 100%;
    z-index: $z-Header;
  }

  &__main {
    padding-top: $h-Header;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-size: cover;
    min-height: 100vh;
  }

  &__container {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}
</style>
