<template>
  <div class="welcome">
    <div class="welcome__container px-5 max-w-7xl">
      Spotylike app
    </div>
  </div>
</template>

<script>
export default {
  name: 'Welcome',
  methods: {
  }
}
</script>

<style lang="scss" scoped>
.welcome {
  flex: 1;

  &__container {
    height: calc(100vh - #{$h-Header});
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
</style>
