<template>
  <div class="login">
    <div class="login__container px-5 max-w-7xl">
      <form
        class="login__forms"
        @submit.prevent="login"
      >
        <input
          v-model="nickname"
          type="text"
          class="mb-4"
        >
        <input
          v-model="password"
          type="password"
          class="mb-4"
        >
        <button
          :class="isEmptyValues ? 'bg-slate-500' : 'bg-lime-500'"
          :disabled="isEmptyValues"
        >
          log in
        </button>
      </form>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'login',
  data(){
    return {
      nickname: '',
      password: '',
    }
  },
  computed: {
    isEmptyValues () {
      return !this.nickname || !this.password
    }
  },
  methods: {
    ...mapActions({
      loginUser: 'loginUser'
    }),
    async login() {
      await this.loginUser({
        nickname: this.nickname,
        password: this.password
      })
    },
  }
}
</script>

<style lang="scss" scoped>
.login {
  flex: 1;

  &__container {
    height: calc(100vh - #{$h-Header});
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__forms {
    display: flex;
    flex-direction: column;
  }
}
</style>
