<template>
  <div class="register">
    <div class="register__container px-5 max-w-7xl">
      <form
        class="register__forms"
        @submit.prevent="register"
      >
        <input
          v-model="nickname"
          type="text"
          class="mb-4"
        >
        <input
          v-model="password"
          type="password"
          class="mb-4"
        >
        <button
          :class="isEmptyValues ? 'bg-slate-500' : 'bg-lime-500'"
          :disabled="isEmptyValues"
        >
          РЕГОЦА
        </button>
      </form>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import { AUTH_TOKEN } from '~/lib/constants'

export default {
  name: 'register',
  data(){
    return {
      nickname: '',
      password: ''
    }
  },
  computed: {
    isEmptyValues () {
      return !this.nickname || !this.password
    }
  },
  methods: {
    async register() {
      const { data, status} = await this.$api.register({
        nickname: this.nickname,
        password: this.password
      })

      if (status !== 200) {
        alert(data.error)
        return
      }

      alert(`Ты залогинил юзера: ${this.nickname}`)

      this.$router.push({path: '/login'})
    }
  }
}
</script>

<style lang="scss" scoped>
.register {
  flex: 1;

  &__container {
    height: calc(100vh - #{$h-Header});
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__forms {
    display: flex;
    flex-direction: column;
  }
}
</style>
